<ion-view view-title="Detail">
    <ion-content>
        <div class="list card">
            <div class="item">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
            </div>
            <div class="item item-image">
                <img ng-src="{{item.image}}" style="width:100%" />
            </div>
            <a class="item item-icon-left assertive" ng-click="main.share(item)">
                <i class="icon ion-android-share-alt"></i>
                Share
            </a>
        </div>
    </ion-content>
</ion-view>