<ion-view view-title="Wish List">
  <ion-content>
   
    <ion-list show-delete="shouldShowDelete" >
      <ion-item ng-repeat="item in items" class="item-avatar" href="#/detail/{{item.guid}}">
        <img ng-src="{{ item.image }}">
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <ion-option-button 
            class="button-positive"
            ng-click="main.share(item)"
            >
            Share
        </ion-option-button>
        <ion-delete-button 
          class="ion-minus-circled"
          ng-click="main.removeItem(item)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
      <div class="buttons">
        <button 
          class="button button-icon icon ion-ios-minus-outline"
          ng-click="shouldShowDelete = !shouldShowDelete;">
        </button>
      </div>
      <h1 class="title"> </h1>
      <div class="buttons" ng-click="main.camera()">
        <button class="button">Take A picture</button>
      </div>
    </ion-footer-bar>
  <ion-footer>
  
</ion-footer>
</ion-view>
