<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="af-notifier" ng-controller="main" ng-init="getNotifications()">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Notify It</h1>
        <!-- New notification button -->
        <button class="button button-icon" ng-click="openNotificationModal()">
          <i class="icon ion-compose"></i>
        </button>
      </ion-header-bar>
      
      <ion-content>
        <!-- Notification list -->
        <div class="list card" ng-repeat="notifcation in notifications track by $index">
          <div class="item item-divider">
            <span ng-bind="notifcation.title"></span>
          </div>
          <div class="item item-body">
            <strong>Title: <span ng-bind="notifcation.title"></span></strong>
            <p>
              <span ng-bind="notifcation.content"></span>
            </p>
            <p>
              In <span style="bold" ng-bind="notifcation.timing"></span> seconds
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <!-- Remove Notification Button -->
            <a class="tab-item assertive" ng-click="removeNotification($index)">
              <i class="icon ion-android-close"></i>
            </a>
          </div>
        </div>
      </ion-content>
    </ion-pane>
    <!-- New Notification Modal -->
    <script id="new-notification-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-dark">
          <h1 class="title">Create a new Notification</h1>
            <button class="button button-icon" ng-click="closeNotificationModal()">
              <i class="icon ion-android-close"></i>
            </button>
        </ion-header-bar>
        <ion-content>
          <form ng-submit="createNotification()">
            <div class="list list-inset">
              <label class="item item-input">
                <input ng-model="notification.title" type="text" placeholder="Notification title">
              </label>
              <label class="item item-input">
                <textarea ng-model="notification.content" rows="5" placeholder="Notification content"></textarea>
              </label>
              <label class="item item-divider">
                How many seconds from now?
              </label>
              <label class="item range">
                1
                <input type="range" min="1" max="15" step="1" ng-model="notification.timing" />
                15
              </label>
              <button type="submit" class="button button-block button-positive">Create Notification</button>
            </div>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
